<h1>Itinerary Planner</h1>
<h2>Current Itineraries</h2>

<div id="itineraries">
  <% @itineraries.each do |itin| %>
  <div class='itinerary'>
    <h2>Itinerary: <%= itin.name %></h2>
    <%= render itin %>
  </div>
  <% end %>
</div>
